@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FCE6E3;
  font: 14px "Cabin", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}